{% extends './layout.twig' %}

{% block content %}
  <main class="deportation-page">
    <div class="deportation-page__sliders-wrap">
      <div class="deportation-page__slide slide1">
        <div class="deportation-page__text-block">
          {% for text in deportations.firstSlide.text %}
          <p>
            {{ text }}
          </p>
          {% endfor %}
        </div>
      </div>
      <div class="deportation-page__slide slide2">
        <div class="calendar" id="calendar28">
          <img src="{{ deportations.secondSlide.calendarImg }}" alt="" class="calendar__photo">
        </div>
        <div class="deportation-map__wrapper">
          <img src="/img/deportation-page/map-document.png" alt="" id="deportation-map__document-germans"
               class="deportation-map__document deportation-map__document--hidden-top deportation-map__document--not-visible"
          >
          <img src="{{ deportations.secondSlide.mapImg }}" alt="Карта" class="deportation-map">
          <div class="deportation-map__text">
            {{ deportations.secondSlide.text[0] }}
          </div>
        </div>
      </div>
      <div class="deportation-page__slide slide3">
        <div class="calendar" id="calendar16">
          <img src="{{ deportations.thirdSlide.calendarImg }}" alt="" class="calendar__photo">
        </div>
        <div class="deportation-map__wrapper">
          <img src="/img/deportation-page/map-document-latvians.png" alt="" id="deportation-map__document-latvians"
               class="deportation-map__document deportation-map__document--hidden-top deportation-map__document--not-visible"
          >
          <img src="{{ deportations.thirdSlide.mapImg }}" alt="Карта" class="deportation-map">
          <div class="deportation-map__text">
            {{ deportations.thirdSlide.text[0] }}
          </div>
        </div>
      </div>
      <div class="deportation-page__slide slide4">
        <div class="calendar" id="calendar8">
          <img src="{{ deportations.fourthSlide.calendarImg }}" alt="" class="calendar__photo">
        </div>
        <div class="deportation-document__wrapper">
          <img class="deportation-document" src="/img/deportation-page/document-photo.png">
          <div class="deportation-document__text">
            {{ deportations.fourthSlide.text[0] }}
          </div>
        </div>
      </div>
      <div class="deportation-page__slide slide5">
        <div class="deportation-page__text-block">
          {% for text in deportations.fifthSlide.text %}
          <p>
            {{ text }}
          </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}
