{% extends './layout.twig' %}

{% block content %}
  <main class="home-page">
    <div class="home-page__title-wrap">
      <img src="{{ publicPath }}/img/home-page/title-{{ lang }}.png" alt="">
    </div>
    <div class="home-page__sections-wrap">
      <div class="home-page__section-item">
        <a href="periods-page/">
          <img src="{{ publicPath }}/img/home-page/periods-bg.gif">
          <div class="home-page__section-item-text">
            <img src="{{ publicPath }}/img/home-page/system-{{ lang }}.png">
          </div>
        </a>
      </div>
      <div class="home-page__section-item">
        <a href="victims-page/">
          <img src="{{ publicPath }}/img/home-page/victims-bg.gif">
          <div class="home-page__section-item-text">
            <img src="{{ publicPath }}/img/home-page/victims-{{ lang }}.png">
          </div>
        </a>
      </div>
    </div>
  </main>
{% endblock %}
